.sidebar {
  width: 170px;
  background-color: #000000;
  color: #fff;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.1s ease;
  position: relative;
}

.sidebar.collapsed {
  width: 35px;
}

.logoContainer {
  text-align: center;
  margin-bottom: 50px;
}

.logo {
  width: 80px;
  height: auto;
}

.logoText {
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}

.menu {
  list-style: none;
  padding: 5px;
}


.menuItem {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuItem:hover {
  color: #007bff;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

/* Specific style for the logout icon */
.menuItem:last-child .icon {
  color: #ff0000; /* Red color for logout icon */
}

.expandButton {
  position: absolute;
  top: 20px;
  right: -15px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: #1e2a38;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.expandButton:hover {
  background-color: #007bff;
}

.expandIcon {
  transition: transform 0.3s ease;
}